* {
    display: center;
    justify-content: center;
    align-items: center;
}

button {
    margin: 20px;
}

#everything {
    border: 3px solid black;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-left: 20px;
}

#school, #mascot, #lecture {
    background: grey;
    border: 1px solid black;
    margin: 20px;
}

input {
    margin: 20px;
    margin-bottom: 20px;
}
