* {
    display: center;
    justify-content: center;
    align-items: center;
    
}

body {

    background-color:rgb(31, 31, 31);
    padding:10px;
    
}

header {
align-content:center;
border:1px;
border-style:solid;
border-color:rgb(138, 138, 138);
background-color:rgb(22, 22, 22);
border-radius:10px;
height:95px;
width: 96%;
margin-bottom:50px;
padding:35px;
float:center;

}

button {

    margin-top:10px;
    margin-bottom:10px;
}


#darkLight {
 
    float:left;
    
}

#dark {

   padding-right: 15px;
   padding-left:15px;
   padding-top:22px;
   padding-bottom:22px;
   border:solid;
   border-radius:45px;
   border-color:rgb(22, 22, 22);
   background-color:black;
   color:white;
   font-size:large;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

#dark:hover {

    background-color:rgb(221, 221, 221);
    color:black;
}


#light {

    padding-right: 15px;
    padding-left: 15px;
    padding-top:22px;
    padding-bottom:22px;
    border:solid;
    border-radius:45px;
    border-color:rgb(22, 22, 22);
    background-color:rgb(221, 221, 221);
    color:rgb(0, 0, 0);
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#light:hover {

    background-color:black;
    color:rgb(221, 221, 221);
}

#gridList {

    float:right;

}

#grid {

    padding: 20px;
    margin-right:10px;
    border:solid;
    border-color:rgb(27, 27, 27);
    background-color:black;
    color:white;
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#grid:hover {

    background-color:rgb(72, 45, 128);

}

#list {

    padding: 20px;
    margin-left:10px;
    border:solid;
    border-color:rgb(27, 27, 27);
    background-color:black;
    color:white;
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

#list:hover {

    background-color:rgb(72, 45, 128);


}

#content {

    border:1px;
    border-style:double;
    border-color:rgb(48, 48, 48);
    background-color:rgb(48, 48, 48);
    height:800px;
    width:93%;
    padding:50px;
    margin:10px;
    float:center;
    overflow:auto;


}

 .entryType,.entryType2 {
    
    border:1px;
    border-style:solid;
    border-color:rgb(27, 27, 27);
    border-radius:10px;
    background-color:rgb(27, 27, 27); 
    text-align:center;
    font-size:30px;
    margin:25px;
    padding:10px;
    overflow:auto;
    color:rgb(204, 204, 204);

}


.entryType:hover, .entryType2:hover {

    scale:110%;
    border-width:3px;
    border-color:rgb(72, 45, 128);

}


 button.entryT, button.entryT2 {

    padding-right:400px;
    padding-left:400px;
    padding-top:40px;
    padding-bottom:40px;
    margin:5px;
     border:solid;
    border-color:rgb(27, 27, 27);
    color:white;
    background-color:rgb(27, 27, 27);
    font-size:larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}


footer {

    border-top:1px;
    border-top-style:solid;
    border-top-color:rgb(204,204,204);
    margin:10px;
    padding:10px;
    
}

#logOut  {

    padding:10px;
    margin:10px;
    border:solid;
    border-color:black;
    background-color:black;
    color:white;
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:left;


}

#logOut2 {

    padding:10px;
    margin:10px;
    border:solid;
    border-color:black;
    background-color:black;
    color:white;
    font-size:large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:right;
}

#logOut:hover, #logOut2:hover {

    background-color:rgb(72, 45, 128);
    border-color:rgb(72, 45, 128);
}



